{% extends "base.html" %}
{% load bag_tools %}
{% load static %}
{% block content %}
<div class="container">
<h1 class="mb-3"> Cosul tau de cumparaturi </h1>
{% if not bag_items %}
    <p class="my-auto mx-auto">Cosul de cumparaturi este gol. <a class="link link-danger" href="{% url 'wines_view' %}">Descopera vinurile Grupo Pierola</a></p>
{% else %}
    <div class="row mb-2 shadow">
        <div class="col-2 ">Image</div>
        <div class="col-4 text-center">Name</div>
        <div class="col-2 text-center">Quantity</div>
        <div class="col-2 text-center">Price</div>
        <div class="col-2 text-center">Subtotal</div>
    </div>

{% for item in bag_items %}
    <div class="row pb-2 shadow">
        <div class="col-2 mx-auto">
            {% if item.wine.image %}
                <img src="{{item.wine.image.url}}" class="mx-auto" style="height:9rem; width:3rem;" alt="{{wine.name}}">
            {% else %}
                <img src="{{MEDIA_URL}}no_img.jpg" width="100rem" height="100rem" >
            {% endif %}
        </div>
        <div class="col-4 my-auto">
            <p><strong>{{item.wine.name}}</strong></p>
            <p><strong >{{item.size}}</strong></p>
        </div>
        <div class="col-2 my-auto">
            <form method="POST" action="{% url 'edit_bag' item.wine.id %}">
                {% csrf_token %}
                {% include 'wines/includes/qty_input.html' %}
                <input type="hidden" name="size" value="{{item.size}}">
             </form>
            <a class="text-decoration-none text-info update_link" >
                    Update
            </a>
        </div>
        <div class="col-2 my-auto text-center"><strong>{{item.price}} RON</strong></div>
        <div class="col-2 my-auto text-center"><strong>{{item.price|calc_subtotal:item.qty}} RON</strong></div>
    </div>
{% endfor %}
<div class="row d-flex justify-content-end mb-2">
    <div class="col-2">
        <div class="row">
            <div class="col-4"><small>Total:</small></div>
            <div class="col-8"><strong>{{total}} RON</strong></div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-2 ml-auto ">
        <a href="{% url 'wines_view' %}" class="btn btn-dark rounded-0 w-100"><i class="fas fa-chevron-left"></i><strong>  INCA CEVA</strong></a>
    </div>
    <div class="col-2 mr-auto ">
        <a href="{% url 'checkout' %}" class="btn btn-info rounded-0 w-100"><strong>CHECKOUT    </strong><i class="fas fa-chevron-right"></i></a>
    </div>
</div>
</div>
{% endif %}
{% endblock %}
{% block postload_js %}
<script type="text/javascript">
    // function that enables or disable the buttons
$('.update_link').click(function(e){
    var form = $(this).prev();
    console.log(form);
    form.submit();
})
function handleEnableDisable(qty_input)
    {
        var currentInput = parseInt($(qty_input).val());
        var minusDisabled = currentInput < 1;
        var plusDisabled = currentInput >= 99; 
        $(qty_input).prev('.input-group-preppend').find('.decrement-qty').prop('disabled', minusDisabled);
        $(qty_input).next('.input-group-append').find('.increment-qty').prop('disabled', plusDisabled);
    }
$('.decrement-qty').click(function(e){
    e.preventDefault();
    var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    var currentValue = parseInt($(closestInput).val());
    $(closestInput).val(currentValue - 1);
    handleEnableDisable(closestInput);
})
$('.increment-qty').click(function(e){
    e.preventDefault();
    var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    var currentValue = parseInt($(closestInput).val());
    $(closestInput).val(currentValue + 1);
    handleEnableDisable(closestInput);
})
</script>
{% endblock %}