{% extends "base.html" %}
{% load bag_tools %}
{% load static %}
{% block content %}
<div class="container">
<h1> Cosul tau de cumparaturi </h1>
{% if not bag_items %}
    <p class="my-auto mx-auto">Cosul de cumparaturi este gol. <a class="link link-danger" href="{% url 'wines_view' %}">Descopera vinurile Grupo Pierola</a></p>
{% else %}
    <div class="row">
        <div class="col-2 ">Image</div>
        <div class="col-4 text-center">Name</div>
        <div class="col-2 text-center">Quantity</div>
        <div class="col-2 text-center">Price</div>
        <div class="col-2 text-center">Subtotal</div>
    </div>

{% for item in bag_items %}
<hr>
    <div class="row">
        <div class="col-2 mx-auto">
            {% if item.wine.image %}
                <img src="{{item.wine.image.url}}" class="mx-auto" style="height:9rem; width:3rem;" alt="{{wine.name}}">
            {% else %}
                <img src="{{MEDIA_URL}}no_img.jpg" width="100rem" height="100rem" >
            {% endif %}
        </div>
        <div class="col-4 my-auto">
            <p><strong>{{item.wine.name}}</strong></p>
            <p><strong>{{item.size}}</strong></p>
        </div>
        <div class="col-2 my-auto">
            <form method="POST" action="{% url 'edit_bag' item.wine.id %}">
                    {% csrf_token %}
            <div class="input-group input-group-sm">
                <div class="input-group-preppend">
                    <button 
                    class="decrement-qty btn btn-dark rounded-0 btn-sm" data-item_id="{{ item.wine.id }}" 
                    id="decrement-qty_{{ item.wine.id }}">
                    <i class="fas fa-minus"></i>
                    </button>
                </div>
                    <input class="form-control qty_input text-center" type="number" value="{{item.qty}}" min="0" max="99" id="id_input_{{item.wine.id}}" name="quantity" data-item_id="{{item.wine.id}}">
                    <input type="hidden" value="{{item.size}}" name="size">
               
                <div class="input-group-append mr-1">
                    <button 
                    class="increment-qty btn btn-dark rounded-0 btn-sm" 
                    data-item_id="{{ item.wine.id }}" 
                    id="increment-qty_{{ item.wine.id }}">
                    <i class="fas fa-plus"></i>
                    </button>
                </div>                  
            </div>
             </form>
            <a class="text-decoration-none text-info update_link" >
                    Update
            </a>
        </div>
        <div class="col-2 my-auto text-center"><strong>{{item.price}} RON</strong></div>
        <div class="col-2 my-auto text-center"><strong>{{item.price|calc_subtotal:item.qty}} RON</strong></div>
    </div>
    <hr>
{% endfor %}
<div class="row d-flex justify-content-end">
    <div class="col-2">
        <div class="row">
            <div class="col-4"><small>Total:</small></div>
            <div class="col-8"><strong>{{total}} RON</strong></div>
        </div>
    </div>
</div>
<hr>
<div class="row d-flex justify-content-center">
    <div class="col-2 ml-auto ">
        <a href="{% url 'wines_view' %}" class="btn btn-dark rounded-0 w-100"><i class="fas fa-chevron-left"></i><strong>  INCA CEVA</strong></a>
    </div>
    <div class="col-2 mr-auto ">
        <a href="{% url 'checkout' %}" class="btn btn-info rounded-0 w-100"><strong>CHECKOUT    </strong><i class="fas fa-chevron-right"></i></a>
    </div>
</div>
</div>
{% endif %}
{% endblock %}
{% block postload_js %}
<script type="text/javascript">
    // function that enables or disable the buttons
$('.update_link').click(function(e){
    var form = $(this).prev();
    console.log(form);
    form.submit();
})
function handleEnableDisable(itemId){
        var currentInput = parseInt($(`#id_input_${itemId}`).val());
        var qtyAvailable = parseInt($(`#id_input_${itemId}`).data('qty-available'));
        var minusDisabled = currentInput < 1 ;
        var plusDisabled = currentInput >= qtyAvailable; 
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }
// sets the quantity at input and max value
function maxQtyAvaibleSetter(wineId){
    var qty = $(`#${wineId} option:selected`).data('quantity_available');
    $(`#id_input_${wineId}`).data('qty-available', qty);
    $(`#id_input_${wineId}`).attr('max', qty)
}
// enables/disables the buttons on page load
var allWineInputs = $('.qty_input');
for (let i=0; i < allWineInputs.length; i++){
    var wineId = $(allWineInputs[i]).data('item_id');
    maxQtyAvaibleSetter(wineId);
    handleEnableDisable(wineId);
}
$('.decrement-qty').click(function(e){
    e.preventDefault();
    var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    var currentValue = parseInt($(closestInput).val());
    $(closestInput).val(currentValue - 1);
    var itemId = $(this).data('item_id');
    handleEnableDisable(itemId);
});
$('.increment-qty').click(function(e){
    e.preventDefault();
    var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    var currentValue = parseInt($(closestInput).val());
    $(closestInput).val(currentValue + 1);
    var itemId = $(this).data('item_id');
    handleEnableDisable(itemId);
});
</script>
{% endblock %}