{% extends "base.html" %}
{% load static %}
{% block extra_css %}
  <link type="text/css" rel="stylesheet" href="{% static 'wines/css/wines.css' %}">
{% endblock %}
{% block content %}
{% if offers %}
    {% for offer in offers %}
    <div class="jumbotron jumbotron-fluid mb-5" style="background: url({{offer.image.url}}); height:60vh; background-repeat:no-repeat; background-size:cover; background-position: center;">
        <div class="container pt-5" style="color:{{offer.text_color}}">
            <h1 class="display-4 pt-5">{{offer.title}}</h1>
            <p class="lead">{{offer.hook}}</p>
            <p class="lead">
                <a class="btn btn-danger btn-lg float-right border-dark rounded-0 " href="{% url 'offer_details' offer.id %}" role="button">Afla mai multe <i class="fas fa-chevron-right"></i></a>
            </p>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="jumbotron jumbotron-fluid" style="background: url({{MEDIA_URL}}hero_img.jpg); height:60vh; color:white;">
    <div class="container pt-5">
        <h1 class="display-4 pt-5">Grupo Pierola Romania</h1>
        <p class="lead">Desavarsire in fiecare strop</p>
    </div>
    </div>
{% endif %}
<div class="container mt-5">
    <div class="row mb-5">
        <h1 class="font-weight-bold">Cele mai vandute</h1>
        {% for wine in best_sold %}
            {% include 'wines/includes/wine_card.html' %}
        {% endfor %}
    </div>
    <div class="row mb-5">
        <h1 class="font-weight-bold">Cele mai noi</h1>
    {% for wine in new_arrivals %}
        {% include 'wines/includes/wine_card.html' %}
    {% endfor %}
    </div>
    <div class="row">
        <h1 class="font-weight-bold">Cele mai multe stele</h1>
        {% for wine in best_rated %}
            {% include 'wines/includes/wine_card.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block postload_js %}
{{block.super}}
{% include 'wines/includes/card_js.html' %}
{% endblock %}