<ul class="nav justify-content-end ">
  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vinuri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Rosii</a></li>
            <li><a class="dropdown-item" href="#">Rose</a></li>
            <li><a class="dropdown-item" href="#">Albe</a></li>
          </ul>
        </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#">Oferte si Promotii</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#">
        <form>
            <div class="input-group input-group-sm">
                <input type="text" name="q" class="form-control text-white rounded-0 border-start-0 border-end-0 border-top-0 border-white" placeholder="Cauta un vin" style="background-color:black;">
                <button type="submit" class="btn btn-small text-white"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </a>
  </li>
</ul>
  <hr class="mt-0 text-white">