{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load bag_tools %}
{% block content %}
<div class="container">
    <h1>{% trans "Checkout realizat cu success!" %} </h1>
    <hr>
    <h3 class="mb-2">{% trans "Comanda" %}  <strong>{{order.order_number}} </strong>{% trans "a fost plasata cu success si un email cu mai multe detalii a fost trimis pe adresa" %} <strong>{{order.email}}</strong></h3>
    <h3 class="mb-2">{% trans "Multumim!" %}   </h3>
    <h4 class="text-center text-dark my-5">{% trans "Comanda" %} Comanda </h4>
    <div class="row ">
        <div class="col-6">
            <p class="fw-bold">{% trans "Nume" %}</p>
        </div>
        <div class="col-2">
            <p class="text-center fw-bold">{% trans "Dimensiune" %}</p>
        </div>
        <div class="col-2">
            <p class="text-center fw-bold">{% trans "Cantitate" %}</p>
        </div>
        <div class="col-2">
            <p class="text-end fw-bold">Subtotal</p>
        </div>
    </div>
    {% for item in order.lineitem.all %}
    <div class="row">
        <div class="col-6">
            <p>{{item.the_wine.name}}</p>
        </div>
        <div class="col-2">
            <p class="text-center"> {{item.product_size}}</p>
        </div>
        <div class="col-2">
            <p class="text-center">{{item.quantity}}</p>
        </div>
        <div class="col-2">
            <p class="text-end">{{item.lineitem_total}}</p>
        </div>
    </div>
    {% endfor %}
    <hr />
    <div class="row d-flex justify-content-end">
        <div class="col-1 fw-bold text-end">Total:</div>
        <div class="col-1 text-end">{{order.total}}</div>
    </div>


</div>

{% endblock %}