{% load i18n %}
<div class="col-12 pb-2 wine-filter-menu rounded d-none d-lg-block">
    <h4 class="text-center my-2">{% trans "Ordoneaza dupa "%}</h4>
    <div class="container-fluid">
        <div class="row ">
            <div class="col">
                <div class="form-floating">
                    <select class="form-select " id="color" aria-label="Floating label select example">
                        <option value="reset">{% trans "Oricare"%}</option>
                        {% for color in colors %}
                        <option value="{{color.name}}" {% if color.name in categories %}selected{% endif %}>{{color.name}}</option>
                        {% endfor %}
                    </select>
                    <label for="color">{% trans "Culoare" %}</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating text-dark">
                    <select class="form-select" id="region" aria-label="Floating label select example">
                        <option value="reset">{% trans "Oricare"%}</option>
                        {% for region in regions%}
                        <option value="{{region.name}}" {% if region.name in categories %}selected{% endif %}>{{region.name}}</option>
                        {% endfor %}
                    </select>
                    <label for="region">{% trans "Regiunea"%}</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating text-dark">
                    <select class="form-select" id="grape">
                        <option value="reset">{% trans "Oricare"%}</option>
                        {% for grape in grapes %}
                        <option value="{{grape.name}}" {% if grape.name in categories %}selected{% endif %}>
                            {{grape.name}}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="grape">{% trans "Struguri"%}</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating text-dark">
                    <select class="form-select" id="price" aria-label="Floating label select example">
                        <option value="reset">Aleatoriu</option>
                        <option value="price_asc" {% if 'price_asc' in categories %}selected{% endif %}>{% trans "Ascendent"%}</option>
                        <option value="price_desc" {% if 'price_desc' in categories %}selected{% endif %}>{% trans "Descendent" %}</option>
                    </select>
                    <label for="price">{% trans "Pret"%}</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating text-dark">
                    <select class="form-select" id="rating" aria-label="Floating label select example">
                        <option value="reset">{% trans "Aleatoriu"%}</option>
                        <option value="rating_asc" {% if 'rating_asc' in categories %}selected{% endif %}>{% trans "Ascendent"%}</option>
                        <option value="rating_desc" {% if 'rating_desc' in categories %}selected{% endif %}>{% trans "Descendent"%}</option>
                    </select>
                    <label for="rating">Rating</label>
                </div>
            </div>
        </div>
     </div>
</div>