{% extends "base.html" %}
{% load static %}
{% block extra_css %}
  <link type="text/css" rel="stylesheet" href="{% static 'wines/css/wines.css' %}">
{% endblock %}
{% block content %}
<!-- Filter -->
<div class="pb-2 wine-filter-menu bg-danger fixed-top rounded " id="filter">
    <h4 class="text-center my-2">Ordoneaza dupa</h4>
    <div class="container-fluid">
        <div class="row mb-1">
            <div class="col-12">
                <div class="form-floating text-dark">
                    <select class="form-select" id="color" aria-label="Floating label select example">
                        <option value="reset">Oricare</option>
                        <option value="Red" {% if 'Red' in categories %}selected{% endif %}>Rosii</option>
                        <option value="Rose"{% if 'Rose' in categories %}selected{% endif %}>Rose</option>
                        <option value="White"{% if 'White' in categories %}selected{% endif %}>Albe</option>
                    </select>
                    <label for="color">Culoare</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <div class="form-floating text-dark">
                    <select class="form-select" id="region" aria-label="Floating label select example">
                        <option value="reset">Oricare</option>
                        {% for region in regions%}
                            <option value="{{region.name}}"{% if region.name in categories %}selected{% endif %}>{{region.name}}</option>
                        {% endfor %}
                    </select>
                    <label for="region">Regiunea</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <div class="form-floating text-dark">
                    <select class="form-select" id="grape">
                        <option value="reset">Oricare</option>
                        {% for grape in grapes %}
                            <option value="{{grape.name}}"{% if grape.name in categories %}selected{% endif %}>
                                {{grape.name}}
                            </option>
                            {% endfor %}
                    </select>
                    <label for="grape">Struguri</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <div class="form-floating text-dark">
                    <select class="form-select" id="price" aria-label="Floating label select example">
                        <option value="reset">Aleatoriu</option>
                        <option value="price_asc" {% if 'price_asc' in categories %}selected{% endif %}>Ascendent</option>
                        <option value="price_desc" {% if 'price_desc' in categories %}selected{% endif %}>Descendent</option>
                    </select>
                    <label for="price">Pret</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <div class="form-floating text-dark">
                    <select class="form-select" id="rating" aria-label="Floating label select example">
                        <option value="reset" selected>Aleatoriu</option>
                        <option value="rating_asc" {% if 'rating_asc' in categories %}selected{% endif %}>Ascendent</option>
                        <option value="rating_desc" {% if 'rating_desc' in categories %}selected{% endif %}>Descendent</option>
                    </select>
                    <label for="rating">Rating</label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wine Display-->
<div class="fixed-top page-header bg-white">
    <h1 class="text-center mt-3">Vinuri</h1>
</div>
<div class="wine-list" id = "winelist">
    <div class="container-fluid">
        <span class="badge badge-pill badge-warning">Warning</span>
        <div class="row">
            {% for wine in wines %}
                <div class="col-3 " >
                    <a class="text-decoration-none" href="{% url 'wine_details' wine.id %}">
                    <div class="card ">
                    <span class="badge text-dark bg-warning price-tag p-1">{{wine.rating }} <i class="fas fa-star fa-sm"></i></span>
                        <a class="text-decoration-none mx-auto" href="{% url 'wine_details' wine.id %}">
                        {% if wine.image %}
                            <img src="{{wine.image.url}}" class="card-img-top mx-auto" style="height:15rem; width:5rem;" alt="{{wine.name}}">
                        {% else %}
                            <img src="{{MEDIA_URL}}no_img.jpg" class="card-img-top" alt="no-image">
                        {% endif %}
                        </a>
                        <div class="card-body text-dark">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-title text-center text-truncate">{{wine.name}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <p class="m-0">Regiune</p>
                                    <p class="m-0">Struguri</p>
                                    <p class="m-0">Pret</p>
                                    <p class="m-0">Marime</p>
                                    <p class="m-0 pt-2">Cantitate</p>
                                </div>
                                <div class="col-7 ">
                                    <p class="mb-0 ml-auto text-truncate text-right"><strong >{{wine.region}}</strong></p>
                                    <p class="m-0 text-truncate text-right"><strong>{{wine.grape}}</strong></p>
                                    <p class="m-0 text-truncate text-right"><strong>{{wine.price}}RON</strong></p>
                                    <form method="POST" action="{% url 'wines_view' %}" id="wine-form">
                                         {% csrf_token %}
                                        <p class="m-0"><select class="form-control form-control-sm size" name="wine_size" id="{{wine.id}}" > 
                                        {% for winees in wines_sizes %}
                                        {% if winees.wine == wine.id %}
                                        {% for size in winees.size_quantities %}
                                            <option value="{{size.size}}" data-quantity_available="{{size.quantity_available}}">
                                                {{size.size}}
                                            </option>
                                        {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                        </select></p>
                                        <p class="m-0"><div class="input-group input-group-sm">
                                            <div class="input-group-preppend">
                                                <button class="decrement-qty btn btn-dark rounded-0 btn-sm" 
                                                            data-item_id="{{ wine.id }}" id="decrement-qty_{{ wine.id }}">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input" type="number" value="1" min="1" max="99" id="id_input_{{wine.id}}" name="quantity" data-item_id="{{wine.id}}">
                                            <div class="input-group-append mr-1">
                                                <button class="increment-qty btn btn-dark rounded-0 btn-sm" 
                                                    data-item_id="{{ wine.id }}" id="increment-qty_{{ wine.id }}">
                                                <i class="fas fa-plus"></i>
                                                </button>
                                            </div>                  
                                        </div></p>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form> 
                                </div>
                            </div>
                             <div class="row mb-1">
                                    <div class="col-12">
                                            <input type="submit" form="wine-form" class="btn btn-danger rounded-0 w-100" value="Comanda ACUM!">
                                    </div>
                                </div>
                        </div>
                    </div>
                    </a>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>  
{% endblock %}
{% block postload_js %}
<script type="text/javascript">
$("#filter").change(function (event) {
    var selector = event.target.id;
    var selectedVal = $(document.getElementById(selector)).val();
    var currentUrl = new URL(window.location);
    if (selectedVal!='reset'){
            if (selector=='price'){
                    currentUrl.searchParams.delete('rating');
                }else if (selector=='rating'){
                    currentUrl.searchParams.delete('price');
                }
            currentUrl.searchParams.set(selector, selectedVal);
            window.location.replace(currentUrl);
        }else{
            currentUrl.searchParams.delete(selector);
            window.location.replace(currentUrl);
        }
});
</script>
<script type="text/javascript">
// function that enables or disable the buttons
function handleEnableDisable(itemId){
        var currentInput = parseInt($(`#id_input_${itemId}`).val());
        var qtyAvailable = parseInt($(`#id_input_${itemId}`).data('qty-available'));
        var minusDisabled = currentInput < 2 ;
        var plusDisabled = currentInput >= qtyAvailable; 
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }
// sets the quanitity at input and max value
function maxQtyAvaibleSetter(wineId){
    var qty = $(`#${wineId} option:selected`).data('quantity_available');
    $(`#id_input_${wineId}`).data('qty-available', qty);
    $(`#id_input_${wineId}`).attr('max', qty)
}
// enables/disables the buttons on page load
var allWineInputs = $('.qty_input');
for (let i=0; i < allWineInputs.length; i++){
    var wineId = $(allWineInputs[i]).data('item_id');
    maxQtyAvaibleSetter(wineId);
    handleEnableDisable(wineId);
}
$('.decrement-qty').click(function(e){
    e.preventDefault();
    var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    var currentValue = parseInt($(closestInput).val());
    $(closestInput).val(currentValue - 1);
    var itemId = $(this).data('item_id');
    handleEnableDisable(itemId);
})
$('.increment-qty').click(function(e){
    e.preventDefault();
    var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    var currentValue = parseInt($(closestInput).val());
    $(closestInput).val(currentValue + 1);
    var itemId = $(this).data('item_id');
    handleEnableDisable(itemId);
})

// on change of size, updates the qty available for wine
$('#winelist').change(function(event){
    var wineTargeted = event.target.id
    maxQtyAvaibleSetter(wineTargeted); // update the qty-available on input
    handleEnableDisable(wineTargeted); // enable disable buttons accordingly
})
</script>
{% endblock %}