.hero-img{
    height:60vh; 
    background-repeat:no-repeat !important;
    background-size:cover !important;
    background-position: center !important;
}
.wine-filter-menu{
    top: 25vh;
    left:0;
}
.text-right{
    text-align: right !important;
}
.price-tag{
    position: absolute;
    top:5rem;
    left:50%;
    color: black;
    font-size: 1.5rem;
}

@media (min-width: 768px){
#filter{
    float: left;
}
}